html {
  text-align: center;
  font-family: kanit;
}
header {
  background-color: aliceblue;
  background: rgba(200, 200, 200, 0.5);
  border: 10px solid;
  font-size: 40px;
  padding: 2%;
  margin: 3%;
  font-family: kanit;
}
body {
  background-image: url(https://preview.redd.it/x9h3rlmv3in91.png?width=3440&format=png&auto=webp&v=enabled&s=9e810372d40d0d332a7098ca791f5944d3479161);
  background-position: center;
  font-size: 25px;
}
p {
  border: 10px solid;
  padding: 10%;
  margin: 10%;
  background: rgb(200, 200, 200, 0.5);
}
img {
  border: 10px solid black;
  height: 350px;
  width: 290px;
  max-width: 100%;
}
a {
  color: rgb(148, 148, 148);
  text-decoration: none;
}
ul {
  list-style-type: none;
  margin: 5;
  padding: 0;
}
li {
  -webkit-text-fill-color: rgb(0, 0, 0);
  font-size: 25px;
  display: inline;
  text-align: center;
  padding: 5px 5px;
  margin: 5px;
  background-color: rgba(154, 80, 223, 0.404);
  border-radius: 10px;
  border: solid black 5px;
}
li a:hover {
  background-color: rgb(200, 200, 200, 0.2);
  border-radius: 5px;
}
a:link {
  text-decoration: none;
}
a:hover {
  background-color: rgb(200, 200, 200, 0.2);
  border-radius: 5px;
}
::-webkit-scrollbar{
  width: 0;
}
#scrollPath{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(154, 80, 223, 0.404);
}
#progressbar{
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: linear-gradient(to top, #008aff,#00ffe7);
  animation: animate 5s linear infinite;
}
@keyframes animate{
  0%,100%
  {filter: hue-rotate(0deg)}
  50%{
    filter:hue-rotate(360deg)}
  }
  #progressbar:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(10px);
    
  }
    #progressbar:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff,#00ffe7);
    filter: blur(30px);
  }
